PORT=4001
DB_NAME=lpem
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost

CORS_ORIGIN=*

# JWT EXPIRES In seconds ex: 300 = 5 minutos
# somente para testes não utilizar em PROD
JWT_EXPIRES=300

SQL_LOG=1
SERVICE_NAME=Contacts-Service