PORT=4001

# user:password@
DATABASE_URL=mysql://root@127.0.0.1:3306/lpem

CORS_ORIGIN=*

# JWT EXPIRES In seconds ex: 300 = 5 minutos
# somente para testes não utilizar em PROD
JWT_EXPIRES=300

SQL_LOG=1
SERVICE_NAME=Contacts-Service

AWS_SES_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Mesmo troken sempre em outros microserviços
MS_JWT_SECRET=mysecret
MS_JWT_EXPIRES=60

NODE_ENV=dev
AWS_CW_REGION=us-east-1
AWS_CW_GROUP=lpem-logs-services
AWS_CW_STREAM=contacts-stream
